
body{
    font-family: 'Long Cang', cursive;;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li{
    margin-top: 25px;
    margin-right: 55px;
    margin-left: 55px;
    margin-bottom: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #;
}

